<%= render 'components/navbarfrmargalou' %>

<div class="project-page-margalou">

  <div class="fade-in-bottom">
    <div class="project-intro-image">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687789/portfolio/margalou/intro-margalou_zhshed.png">
    </div>

    <div class="project-arrow">
      <a href="#website">
        <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683280/portfolio/arrow_l655s7.png">
      </a>
    </div>
  </div>

  <div id="website">
    <div class="project-title">
      <h1>Margalou:</h1>
      <h1><span class="under-line">Website</span></h1>
    </div>
  </div>

  <div class="project-description">
    <p>Margalou est une petite marque familiale, produite localement en France, à partir de matériaux raffinés,
    tendance et de qualité. Ils sont recyclés ou choisis avec soin à Marseille ou lors d'un voyage.
    Passionnée par les belles matières, la créatrice conçoit et fabrique des sacs,
    des pochettes et du linge de maison depuis 2017. D'inspiration méditerranéenne,
    chaque création est un modèle unique entièrement fait main, en lin, cuir et tissu.</p>
  </div>

  <div class="video">
    <video playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599733330/portfolio/margalou/margalou-video2_a3ropd.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599733330/portfolio/margalou/margalou-video2_a3ropd.mp4" type='video/webm; codecs="vp8, vorbis"'>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599733330/portfolio/margalou/margalou-video2_a3ropd.mp4" type='video/ogg; codecs="theora, vorbis"'>
    </video>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Br<span class="under-line-subtitle">andi</span>ng</h1>
      <p>Élégance, plage, sport, simplicité.
      Les produits Margalou sont faits pour être portés aussi bien à la plage qu'en ville,
      pour aller prendre un thé en terrasse après une session de surf,
      la peau satinée par le soleil et les cheveux encore salés.
      Marseille, Biarritz, Santa Barbara, toutes ces villes sont liées par l'appel de la mer et de la nature.</p>
    </div>
  </div>

  <div class="moodboard">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690066/portfolio/margalou/mood-board-margalou_ngqjjg.png">
  </div>

  <div class="brand">
    <div class="branding">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687762/portfolio/margalou/logo-margalou_k3xltg.png">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687751/portfolio/margalou/icons-margalou_bbicpg.png">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687749/portfolio/margalou/color-palette-margalou_rexqnb.png">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687988/portfolio/margalou/typography-margalou_cynfzr.png">
    </div>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Re<span class="under-line-subtitle">sear</span>ch</h1>
      <p>Analyse de marché, user persona, parcours utilisateur, principes Gestalt, règles de design, tree testing, card sorting, eye tracking.
        Chaque outil a beaucoup aidé à rendre le site web aussi optimal que possible pour les utilisateurs.</p>
    </div>
  </div>

  <div class="userpersona">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599688169/portfolio/margalou/user-persona-margalou_yoaqol.png">
  </div>

  <div class="eyetracking">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687769/portfolio/margalou/eye-tracking-one-margalou_b18eho.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687775/portfolio/margalou/eye-tracking-two-margalou_mrafqj.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687758/portfolio/margalou/eye-tracking-three-margalou_tpjh1f.png">
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>In<span class="under-line-subtitle">terfa</span>ce</h1>
      <p>Je voulais faire un design qui reflète parfaitement l'identité de la marque.
        Mon objectif était de créer un moment d'émotion pour l'utilisateur,
        en adoptant un style élégant et méditerranéen.</p>
    </div>
  </div>

  <div class="proto">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690375/portfolio/margalou/home-page-margalou_dd3y2o.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690507/portfolio/margalou/product-listing-page-margalou_inf47y.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687971/portfolio/margalou/product-page-margalou_g9rico.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690584/portfolio/margalou/about-page-margalou_sap5k7.png">
  </div>

</div>

<%= render 'components/footer' %>
