<%= render 'components/navbarfrunchienenville' %>

<div class="project-page-unchienenville">

  <div class="fade-in-bottom">
    <div class="project-intro-image-unchienenville">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690850/portfolio/un%20chien%20en%20ville/intro-unchienenville_wmexzg.png">
    </div>

    <div class="project-arrow">
      <a href="#website">
        <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683280/portfolio/arrow_l655s7.png">
      </a>
    </div>
  </div>

  <div id="website">
    <div class="project-title">
      <h1>Un chien en ville:</h1>
      <h1><span class="under-line">Website</span></h1>
    </div>
  </div>

  <div class="project-description">
    <p>Un chien en ville est un site e-commerce offrant un large choix de produits pour chiens,
      fait pour les propriétaires de chiens. En équipe Scrum,
      nous avons réalisé la refonte du site web en adoptant une méthode agile,
      et en optant pour une approche marketing et design.
      Notre objectif était de développer la visibilité de la marque
      et de créer une communauté de "dog lovers".</p>
  </div>

  <div class="video">
    <video playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599734042/portfolio/un%20chien%20en%20ville/unchienenville-video2_vijivn.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599734042/portfolio/un%20chien%20en%20ville/unchienenville-video2_vijivn.mp4" type='video/webm; codecs="vp8, vorbis"'>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599734042/portfolio/un%20chien%20en%20ville/unchienenville-video2_vijivn.mp4" type='video/ogg; codecs="theora, vorbis"'>
    </video>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Br<span class="under-line-subtitle">andi</span>ng</h1>
      <p>Pour exprimer la tonalité féminine mais élégante de la marque,
        j'ai choisi une palette de couleurs très simple.
        Le design se veut doux, classe et esthétique pour représenter au mieux le site web
        et ses produits haut de gamme.
      </p>
    </div>
  </div>

  <div class="moodboard-unchienenville">
    <div class="moodboard-unchienenville-img">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690807/portfolio/un%20chien%20en%20ville/mood-board-unchienenville_nqvs5h.png">
    </div>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Re<span class="under-line-subtitle">sear</span>ch</h1>
      <p>Product vision, user persona, impact map, user journey, product roadmap.
      Chaque outil a beaucoup aidé à rendre le site aussi optimal que possible pour les utilisateurs.</p>
    </div>
  </div>

  <div class="research-unchienenville">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690772/portfolio/un%20chien%20en%20ville/product-vision-unchienenville_aiop4i.png">
  </div>

  <div class="research-unchienenville">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690790/portfolio/un%20chien%20en%20ville/user-persona-unchienenville_tgfkkj.png">
  </div>

  <div class="research-unchienenville">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690772/portfolio/un%20chien%20en%20ville/impact-map-unchienenville_s1sgvf.png">
  </div>

  <div class="research-unchienenville">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690763/portfolio/un%20chien%20en%20ville/user-journey-unchienenville_wl2qie.png">
  </div>

  <div class="research-unchienenville">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690770/portfolio/un%20chien%20en%20ville/product-roadmap-unchienenville_iv5yeo.png">
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>In<span class="under-line-subtitle">terfa</span>ce</h1>
      <p>Le projet a été réalisé en deux sprints.
        J'ai tout d'abord procédé à la refonte de l'ensemble du site web et ses fonctionnalités de base,
        en le rendant clair, facile à utiliser et attrayant avec une nouvelle identité visuelle,
        simple et esthétique.
        Puis, j'ai souhaité améliorer l'expérience utilisateur grâce à la personnalisation,
        les suggestions produits, la communication et l'e-réputation avec des avis clients.</p>
    </div>
  </div>

  <div class="proto">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691070/portfolio/un%20chien%20en%20ville/home-page-unchienenville_ww9mfk.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691096/portfolio/un%20chien%20en%20ville/product-listing-page-unchienenville_mp1ftq.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691116/portfolio/un%20chien%20en%20ville/product-page-unchienenville_tjxxe4.png">
    <div class="popup">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690891/portfolio/un%20chien%20en%20ville/offer-as-a-gift-pop-up-unchienenville_mivxl7.png">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690911/portfolio/un%20chien%20en%20ville/added-to-your-cart-pop-up-unchienenville_ia7clh.png">
    </div>
  </div>

</div>

<%= render 'components/footer' %>
