<%= render 'components/navbarfrwhaticando' %>

<div class="whatido-page">
  <div class="whatido-part-intro whatido-intro fade-in-bottom">
    <div class="whaticando">
      <center>
        <h1>Créer un <span class="and">impa</span>ct digital.</h1>
      </center>
    </div>
    <div class="inconbtn">
      <div class="mkt">
        <div class="whatido-icon">
          <center>
            <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683286/portfolio/digital_w1wigw.png" width="40%">
          </center>
        </div>
        <center>
          <a href="#digitalmarketing">
            <button class="btn btn-whatido btn-dev">DIGITAL MARKETING</button>
          </a>
        </center>
      </div>

      <div class="ux">
        <div class="whatido-icon">
          <center>
            <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683319/portfolio/webdesign_j0xx2u.png" width="40%">
          </center>
        </div>
        <center>
          <a href="#uxuidesign">
            <button class="btn btn-whatido btn-dev">UX UI DESIGN</button>
          </a>
        </center>
      </div>

      <div class="dev">
        <div class="whatido-icon">
          <center>
            <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683282/portfolio/code_xtyo0g.png" width="40%">
          </center>
        </div>
        <center>
          <a href="#webdevelopment">
            <button class="btn btn-whatido btn-dev">WEB DEVELOPMENT</button>
          </a>
        </center>
      </div>
    </div>
    <div class="whatido-arrow">
      <center>
        <a href="#digitalmarketing">
          <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683280/portfolio/arrow_l655s7.png">
        </a>
      </center>
    </div>
  </div>

  <div id="digitalmarketing">
    <div class="whatido-part whatido-mkt">
      <div class="whatido-top">
        <div class="whatido-left">
          <h1>Digital Marketing</h1>
        </div>
        <div class="whatido-right">
          <h2>Stratégie Digitale</h2>
          <h2>Search Engine Marketing</h2>
          <h2>Social Media & Community Management</h2>
          <h2>Marketing d'influence</h2>
          <h2>Marketing de contenu</h2>
        </div>
      </div>
      <div class="whatido-bottom">
        <div class="whatido-left">
          <h1>+ Gestion de projet & Gestion d'équipe</h1>
          <h1>Communication & Relations presse</h1>
          <h1>Événementiel & Sponsoring</h1>
          <h1>Merchandising & Techniques de vente</h1>
        </div>
        <div class="whatido-right">
          <h1>Outils Marketing</h1>
          <h1>GOOGLE ADS / GOOGLE ANALYTICS / PACK OFFICE</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="uxuidesign">
    <div class="whatido-part whatido-ux">
      <div class="whatido-top">
        <div class="whatido-left">
          <h1>UX UI Design</h1>
        </div>
        <div class="whatido-right">
          <h2>User Experience Design</h2>
          <h2>User Interface Design</h2>
          <h2>User Experience Research</h2>
          <h2>Brand Identity</h2>
        </div>
      </div>
      <div class="whatido-bottom">
        <div class="whatido-left">
          <h1>Les choses que j'aime concevoir</h1>
          <h1>UX / UI / Web / Mobile / Apps / Logos</h1>
        </div>
        <div class="whatido-right">
          <h1>Outils Design</h1>
          <h1>ADOBE XD / FIGMA / PHOTOSHOP</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="webdevelopment">
    <div class="whatido-part whatido-dev">
      <div class="whatido-top">
        <div class="whatido-left">
          <h1>Web Development</h1>
        </div>
        <div class="whatido-right">
          <h2>Intégration Front End</h2>
          <h2>Porgrammation Back End</h2>
        </div>
      </div>
      <div class="whatido-bottom">
        <div class="whatido-left">
          <h1>Langages</h1>
          <h1>HTML5 / CSS / RUBY</h1>
        </div>
        <div class="whatido-right">
          <h1>Outils Dev</h1>
          <h1>RAILS / GIT / GITHUB / BOOTSTRAP / HEROKU / WORDPRESS</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="whatido-part whatido-method">
    <div class="whatido-top">
      <div class="whatido-left">
        <h1>Méthodes</h1>
      </div>
      <div class="whatido-right">
        <h2>Centrée utilisateur</h2>
        <h2>Design Thinking</h2>
        <h2>Méthode Agile</h2>
      </div>
    </div>
  </div>
</div>

<%= render 'components/footerblack' %>
